*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{

    /*
    *TAMAÑO ESTABLECIDO PARA UTILIZAR
    *LAS UNIDADES REM
    */font-size:10px; /*TAMAÑO GENERAL*/

    /*
    *TIPOGRAFIA ESTABLECIDA
    */
    font-family: 'Montserrat', sans-serif;
}

:root{

    /*COLORES ESTABLECIDOS*/
    --colorTextClaro: rgba(60, 60, 67, 0.6);
    --colorBlack:     #000000;
    --colorBakcground:#F2F2F7;
    --colorBlue:      #007AFF;


    /*TAMAÑO DE LETRA GENERAL*/
    --size17: 17px;
    --size15: 15px;
}